
#jumbo{
  opacity: .8;
  font-family: 'Pacifico', cursive;
  margin: 0;
}

#food-video, #drink-video {
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: none;
}

.lead {
  float: left;
  position: relative;
}

.timer {
  position: fixed;
  float: right;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 20px;
  top: 10%;
  right: 5%;
  z-index: 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
}

.sample{
  float: left;
  width: 8%;
  margin: 3% 1%;
  border-radius: 50%;
}

.mb-3{
  width: 100%;
  padding: 0% 10%;
}

.content {
  text-align: center;
  height: auto;
  padding: 20px 0;
}

#left-side {
  background: rgb(243, 207, 207);
  height: 600px;
  overflow: auto;
}
#right-side {
  background: rgb(211, 202, 243);
  height: 600px;
  overflow: auto;
}

#food-photo, #drink-photo {
  width: 50%;
  height: auto;
  margin: 0;
}

.results {
  background: rgba(48, 48, 48, 0.03);
  margin: 10px 50px;
  font-family: 'Pacifico', cursive;

}

.foot-references{
  padding: 2% 12%;
  position: relative;
  float: left;
}

.foot-contacts{
  padding: 2% 12%;
  position: relative;
  float: right;
}

footer {
  z-index: 10;
  background: white;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 14px;
  color: grey;
  height: 20px;
}


@media (max-width: 575px){

  .display-4{
    font-size: 16px;
    font-weight: bolder;
  }
  .lead{
    font-size: 10px;
  }

}